<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.strv.keystorecompat">

	<application android:allowBackup="true"
		android:label="@string/app_name"
		android:supportsRtl="true">

		<receiver
			android:name=".SecurityDeviceAdmin"
			android:label="${kitkatDeviceAdminLabel}"
			android:description="@string/keystore_android_auth_desc"
			android:permission="android.permission.BIND_DEVICE_ADMIN">
			<meta-data
				android:name="android.app.device_admin"
				android:resource="@xml/device_admin" />
			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
			</intent-filter>
		</receiver>

	</application>

</manifest>
