<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cz.koto.keystorecompat">

	<application android:allowBackup="true"
		android:supportsRtl="true">

		<provider
			android:name=".KeystoreCompatInitProvider"
			android:authorities="${applicationId}.keystorecompatinitprovider"
			android:exported="false"
			android:enabled="true" />

		<receiver
			android:name=".SecurityDeviceAdmin"
			android:label="${kitkatDeviceAdminLabel}"
			android:description="@string/kc_auth_desc"
			android:permission="android.permission.BIND_DEVICE_ADMIN">
			<meta-data
				android:name="android.app.device_admin"
				android:resource="@xml/device_admin" />
			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
			</intent-filter>
		</receiver>

	</application>

</manifest>
