<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="cz.kotox.securityshowcase.testutils.test">

	<application>
		<activity
			android:name="cz.kotox.securityshowcase.testutils.SingleFragmentActivity"
			android:label="@string/appName"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>

</manifest>
